<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.music.mapper.MusicMapper">

    <select id="pageQuery" resultType="com.music.entity.Music">
        select * from music
        <where>
            <if test = "category != null and category !=''">
                category = #{category}
            </if>
        </where>
    </select>


    <select id="getByIdBatch" resultType="com.music.entity.Music">
        select * from music where id in
        <foreach collection="list" item="it" open="(" close=")" separator=",">
            #{it}
        </foreach>
    </select>
</mapper>